@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}
section{
  background: radial-gradient(40.71% 68.62% at 80.31% 94.29%, #127366 0%, #22BBA7 100%);
}

.logo img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-top: 20px;
}

.navegação{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  width: 100%;
  transition: all 0.5s;
  height: 75px;
}

.navegação ul{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navegação ul li a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.2s;
  border:1px solid transparent;
}

.navegação ul li a:hover{
  color: #ff810d;
  border-bottom-color:#FF810D ;
}

.navegação i{
  cursor: pointer;
  font-size: 1.5rem;
}

.mapa{
    padding: 60px;
    border-radius: 80px;
}

.text-h4{
  color: black;
}

.tipo-mensagem{
  color: black;
  font-weight: 500;
}

iframe{
    border-radius: 20px;
}

.local{
    max-width: 1400px;
    margin: 0 auto;
}

.text-h1{
    font-weight: 400;
    font-size: 30px;
}

.text-h4{
    font-weight: 200;
    font-size: 18px;
    color: black;
}

form input[type=text], form input[type=email]{
    border-radius: 100px;
    width:700px;
    height: 50px;
    padding: 0 16px;
    margin-top: 16px;
}


textarea{
    width: 700px;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
}

.tipo-mensagem{
    display: flex;
    justify-content: space-between;
    max-width:700px;
}

.selecao{
    display: flex;
    flex-direction: column;
    padding: 10px;
  
}

.container{
    align-items: center;
    display: flex;
    padding: 60px;
}

form button{
    width: 700px;
    height: 45px;
    background: radial-gradient(40.71% 68.62% at 80.31% 94.29%, #127366 0%, #22BBA7 100%);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0;
    margin-top: 20px;   
}

.endereço{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
