@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    min-height: 100vh;

}

.navegação{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: #91cee2;
    transition: all 0.5s;
}


.navegação ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navegação ul li a{
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navegação ul li a:hover{
    color: white;
}

.navegação i{
    cursor: pointer;
    font-size: 1.5rem;
}

